/*  ------------------------
  
  SelfishTwit
  A Twitter Userstyle for Antisocial News Junkies

  ------------------------ */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tweet,
.new-tweets-bar,
.profile-header-inner,
.button-text,
.back-to-top,
.view-profile {
  font-family: Georgia, Baskerville, Times New Roman, serif !important;
}

/* Font size. */
#doc p a,
a .invisible,
.stream-item:hover p {
  font-size: 16px !important;
  line-height: 1.5em !important;
}

/* Background colors. */

body,
.wrapper,
.js-stream-item {
  background: #fff !important;
}

.tweet {
  background: transparent !important;
}

/* Containers. */

.wrapper {
  width: auto !important;
  margin: 0 auto 1.5em;
}

.wrapper,
.wrapper-narrow,
.wrapper-permalink {
  padding: 1rem 0 !important;
}

.content-main {
  margin: 0 auto;
  float: none !important;
  width: 100% !important;
}

.stream-item-header,
.tweet-text {
  max-width: 40rem;
  margin: 0 auto;
}

/* Hide UI elements. */
.twitter-atreply,
.twitter-hashtag,
.content-main > div:not(.stream-container),
.content-main h2,
.account-group,
.context,
.missing-tweets-bar,
.tweet.has-native-media {
  display: none;
}

.global-nav,
.media-tagging-block,
.PromptbirdPrompt,
.global-nav h1,
.global-nav .new-wrapper,
.dashboard,
.pushstate-spinner,
li.people,
li.profile,
.me,
.close-all-tweets,
.topbar-divider,
.cards-media-container,
.stream-item-header .time,
.stream-item-header .username,
.stream-item-footer,
.replies,
.expanded-content,
.topbar-tweet-btn,
#suggested-users,
.dm-button,
.edit-profile-btn,
.verified-link,
.promoted-tweet,
.follow-bar,
.modal-header,
.modal-close,
.expanded-conversation li:not(.original-tweet-container),
.inline-reply-tweetbox,
.dropdown-signin,
.profile-header-inner-overlay,
.stats,
.profile-picture,
.location-and-url,
.user-dropdown,
.nav > li .Icon,
.follow-status,
.bio-container,
.conversation-module > li:after,
.conversation-module > li:before,
.translate-button,
.conversation-header,
.ProfileTweet-actionButton,
.QuoteTweet-mediaContainer,
.QuoteTweet .ProfileTweet-originalAuthor,
.QuoteTweet img,
.QuoteTweet-authorAndText,
.form-search,
.dm-nav,
#profile-hover-container,
.stream-item iframe {
  display: none !important;
}

.QuoteTweet {
  margin: 0 !important;
  font-size: 0 !important;
}

.QuoteTweet--unavailable {
  display: none;
}

.stream-item:hover .QuoteTweet--unavailable {
  display: block;
}

.stream-item:hover .QuoteTweet {
    margin: 6px 0 !important;
    opacity: 1;
    font-size: inherit !important;
}

.js-media-container > div {
  min-height: 0 !important;
}

.QuoteTweet-text,
.QuoteTweet-innerContainer {
    margin: 0 !important;
    padding: 0 !important;
}

.stream-item {
  margin: 0 !important;
}

.content-main div,
.content-main li {
  border: 0 !important;
}
.content-main > div#discover_items,
.stream-item:hover iframe {
  display: block !important;
}
p,
.modal-body p {
  color: #fff !important;
  font-size: 0 !important;
  line-height: 0 !important;
  width: 100%;
  -webkit-transition: height 0.35s ease-out;
  -moz-transition: height 0.35s ease-out;
  -o-transition: height 0.35s ease-out;
  transition: height 0.35s ease-out;
}
.modal-body div {
  border: 0 !important;
}
.tweet {
  min-height: 0 !important;
  height: auto !important;
  padding: 0 !important;
  line-height: inherit !important;
  width: 90%;
  margin-left: 5%;
  background: transparent;
  border: 0 !important;
}
.tweet.tweet-inverted {
  padding: 1em 0 !important;
  background: rgba(0, 0, 0, 0.5);
  margin-left: 0;
}
.tweet .js-tweet-text {
  white-space: normal !important;
}
#profile_popup .recent-tweets {
  margin-top: 0.5rem;
}

/* Showing @username and Follow button in page header,  */
.profile-header {
  float: none !important;
  margin: 0 auto !important;
  width: 100%;
}
.modal .bio-container {
  display: block !important;
}
.module {
  border: 0 !important;
}
.profile-header-inner {
  background: none !important;
  height: 42px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.modal .profile-header-inner {
  height: auto !important;
}
.modal .profile-header-inner p.bio.profile-field {
  font-size: 12px;
  color: #888 !important;
  text-shadow: none !important;
  line-height: 18px;
}
.modal .profile-header-inner p.bio.profile-field a.twitter-atreply,
.modal .profile-header-inner p.bio.profile-field a.twitter-hashtag {
  display: inline !important;
  line-height: 18px !important;
}
.modal .profile-header-inner p.bio.profile-field a.twitter-atreply span,
.modal .profile-header-inner p.bio.profile-field a.twitter-hashtag span,
.modal .profile-header-inner p.bio.profile-field a.twitter-atreply s,
.modal .profile-header-inner p.bio.profile-field a.twitter-hashtag s,
.modal .profile-header-inner p.bio.profile-field a.twitter-atreply b,
.modal .profile-header-inner p.bio.profile-field a.twitter-hashtag b {
  color: #0090d3 !important;
  font-size: 12px !important;
  line-height: 18px !important;
}
.profile-card-inner span,
.profile-card-inner s,
.profile-card-inner a {
  text-shadow: none !important;
  font-size: 23px;
  line-height: 42px !important;
}
.profile-card-inner h1,
.profile-card-inner h2 {
  display: inline !important;
}
.profile-card-inner h1 span,
.profile-card-inner h1 a {
  color: #444 !important;
}
.profile-card-inner h2 span,
.profile-card-inner h2 s {
  color: #888 !important;
}
.js-list-name {
  text-shadow: none !important;
  font-size: 23px;
  line-height: 42px !important;
}
.user-actions {
  float: none !important;
  margin: 6px 0 !important;
  text-align: center;
}
.btn {
  background: none !important;
  border-color: #888 !important;
}
.button-text {
  color: #444;
  text-shadow: none;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: center !important;
}
i.follow {
  display: none;
}
/* Profile Cards */
.view-profile {
  height: 3em !important;
  line-height: 3em !important;
  padding: 0 !important;
  text-align: center !important;
  width: 100%;
}
.modal-body .profile-card {
  margin-top: 1.5em !important;
}
/* Show all links on the page by default. */
p a {
  display: block;
  margin: 6px 0;
  color: #0090d3 !important;
  opacity: 1 !important;
}
/* Hide ellipses for links. */
a .tco-ellipsis {
  display: none;
}
/* Display the full tweet on hover. */
.stream-item:hover {
  background: #fafafa !important;
  border-top: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
  padding: 1em 0;
  /* Properly displaying conversations stemmed off links. */
}
.stream-item:hover .twitter-atreply,
.stream-item:hover .twitter-hashtag {
  display: inline;
}
.stream-item:hover .account-group,
.stream-item:hover .account-group{
  display: block;
}
.stream-item:hover .tweet p {
  color: #444 !important;
}
.stream-item:hover .conversation-module li {
  float: left;
  clear: left;
  width: 100%;
  margin: 0.75em 0;
}
.stream-item:hover .conversation-module li:first-child {
  margin-top: 0;
}
.avatar {
  -webkit-filter: grayscale(0.5);
  opacity: 0.3;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}
/* New Tweets bar */
.new-tweets-bar,
.new-tweets-bar:hover,
.new-tweets-bar:focus,
.new-tweets-bar:active {
  display: block;
  background: rgba(0,144,211,0.06);
}

.new-tweets-bar-visible {
  opacity: 0.7;
  position: relative;
  top: -1rem;
  line-height: 2rem;
}

.new-tweets-bar:hover,
.new-tweets-bar:focus {
  opacity: 0.8;
}

.new-tweets-bar:active {
  opacity: 0.9;
}



.js-new-items-bar-container:focus,
.js-new-items-bar-container:hover,
.js-new-items-bar-container:active {
  padding: 0;
}




/* Restyling indicator for end of tweet list */
i.bird-etched {
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #f7f7f7 !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
}
.back-to-top {
  font-size: 11px !important;
  color: #aaa !important;
  -webkit-font-smoothing: antialiased;
}
.back-to-top,
.view-profile {
  text-transform: capitalize;
}
/* Sign In page */
.nav-logo-link,
.language-dropdown,
.front-bg img {
  display: none !important;
}
.front-bg {
  background: #fff !important;
}
.front-welcome-text h1 {
  font-family: Georgia, Baskerville, Times New Roman, serif !important;
  color: #888 !important;
  text-shadow: none;
  text-align: center;
}
.front-welcome {
  width: 100%;
  display: block;
  clear: left;
  position: relative;
}
.front-signin,
.front-signup {
  background: #fafafa !important;
  font-family: Georgia, Baskerville, Times New Roman, serif !important;
}
.btn {
  background: #fff !important;
  color: #000 !important;
  text-shadow: none !important;
}
.btn,
label {
  font-family: Georgia, Baskerville, Times New Roman, serif !important;
}
.page-canvas,
.content-narrow {
  border: 0 !important;
  font-family: Georgia, Baskerville, Times New Roman, serif !important;
}
.page-canvas input,
.content-narrow input {
  font-family: Georgia, Baskerville, Times New Roman, serif !important;
}
#apps-stream {
  display: block !important;
}
#apps-stream .content p,
#apps-stream .content span {
  display: none;
}
#apps-stream .stream-item:hover {
  padding: 0;
}
