/*  ------------------------
	
	SelfishTwit 1.0
	A Twitter Userstyle for Antisocial News Junkies

	------------------------ */

/* Typeface. */

@font-face {
    font-family: 'Merriweather';
    src:  url('chrome-extension://jkfgkejglneghjhedgcnbdoakpngbhhn/Merriweather.ttf') format('truetype');
}

.tweet,
.new-tweets-bar,
.profile-header-inner,
.button-text {
	font-family: 'Merriweather', Georgia, Baskerville, Times New Roman, serif;
}

/* Font size. */

p a,
a .invisible,
.tweet:hover p {
	font-size: 14px !important;
	line-height: 1.5em !important;
}

/* Background colors. */

body,
.wrapper,
.js-stream-item,
.tweet:hover {
	background: #fff !important;
}

/* Containers. */

.wrapper {
	width: auto !important;
	padding: 0;
	margin: 1.5em auto;
}

.content-main {
	margin: 0 auto;
	float: none !important;
	width: 90% !important;
}

/* Hide UI elements. */

.twitter-atreply,
.twitter-hashtag,
.content-main > div:not(.stream-container),
.content-main h2 {
	display: none;
}

.dashboard,
li.people,
li.profile,
.me,
.close-all-tweets,
.topbar-divider,
.cards-media-container,
.stream-item-header,
.stream-item-footer,
.replies,
.expanded-content,
.topbar-tweet-btn,
#suggested-users,
.dm-button,
.edit-profile-btn,
.verified-link {
	display: none !important;
}

.content-main > div#discover_items {
	display: block !important;
}

.js-stream-item {
	margin: 0 !important;
}

.content-main div,
.content-main li {
	border: 0 !important;
}

p {
	color: #fff;
	font-size: 0;
	line-height: 0;
	width: 100%;
}

.tweet {
	min-height: 0 !important;
	height: auto !important;
	padding: 0 !important;
	line-height: auto !important;
	visibility: hidden;
}

/* Showing @username and Follow button in page header */

.profile-header {
	float: none !important;
	margin: 0 auto !important;
	width: 100%;
}

.profile-header-inner-overlay,
.stats,
.profile-picture,
.location-and-url,
.user-dropdown,
.follow-status {
	display: none !important;
}

.module {
	border: 0 !important;
}

.profile-header-inner {
	background: none !important;
	height: 42px !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.profile-card-inner span,
.profile-card-inner s {
	text-shadow: none !important;
	font-size: 23px;
	line-height: 42px !important;
}

.profile-card-inner h1,
.profile-card-inner h2 {
	display: inline !important;
}

.profile-card-inner h1 {
	color: #444 !important;
}

.profile-card-inner h2 span,
.profile-card-inner h2 s {
	color: #888 !important;
}

.user-actions {
	float: none !important;
	margin: 6px 0 !important;
	text-align: center;
}

.btn {
	background: none !important;
	border-color: #888 !important;
}

.button-text {
	color: #444;
	text-shadow: none;
	-webkit-font-smoothing: subpixel-antialiased;
	text-align: center !important;
}

.follow {
	display: none !important;
}

/* Show all links on the page by default. */

p a {
	display: block;
	visibility: visible !important;
	margin: 6px 0;
	color:  #0090d3 !important;
}

/* Hide ellipses for links. */

a .tco-ellipsis {
	display: none;
}

/* Display the full tweet on hover. */

.tweet:hover,
.tweet:hover p {
	visibility: visible !important;
}

.tweet:hover .twitter-atreply,
.tweet:hover .twitter-hashtag {
	display: inline;
}

.tweet:hover p {
	color: #000;
	padding: 1em 0;
}

/* New Tweets bar */

.new-tweets-bar {
    width:  20%;
    margin-left:  40%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
}

/* Restyling indicator for end of tweet list */

i.bird-etched {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #f7f7f7 !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.25);

}